In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, time
from itertools import combinations
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов



#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [15]:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [3]:
data[data.budget == max(data.budget)][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data[data.runtime == max(data.runtime)][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data.runtime == min(data.runtime)][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
round(data['runtime'].mean(), 0 )

110.0

In [12]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [13]:
data.runtime.median()

107.0

In [14]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
data[data.profit == max(data.profit)][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
data[data.profit == min(data.profit)][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [19]:
answers['7'] = '4. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data.query('profit > 0').count().profit

1478

In [21]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data.query('release_year == 2008').profit.max() # Вывод: 816921825
data.query('release_year == 2008 & profit == 816921825')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
worst = data[data.release_year.isin(range(2012, 2015))][['original_title', 'imdb_id', 'release_year', 'profit']]
worst[worst.profit == min(worst.profit)]

       original_title    imdb_id  release_year     profit
1245  The Lone Ranger  tt1210819          2013 -165710090

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [26]:
allgenres = data[['genres']]
pd.Series(allgenres.genres.str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [27]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
genres = pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|'))
genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [29]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
directors = list(set(data.director.str.cat(sep='|').split('|')))
one_data = pd.DataFrame({'director': directors})
rev = []  # список, где будет храниться сумма сборов

for i in one_data.director:

    # Добавляем в список сумму всех сборов, определенного директора
    rev.append(data[data.director.str.contains(i)].revenue.sum())

# Делаем DataFrame с Директор - Сумма сборов
one_data = pd.DataFrame({'director': directors, 'revenue': rev})
one_data.sort_values('revenue', ascending=False)

              director     revenue
667      Peter Jackson  6490593685
2    Christopher Nolan  4167548502
779        David Yates  4154295625
727        Michael Bay  3886938960
463        J.J. Abrams  3579169916
..                 ...         ...
39       David MichÃ´d     2295423
940   Steven Shainberg     2281089
834      Paul Schrader     2062066
212       Keanu Reeves     2054941
351       Simon Hunter     2033165

[997 rows x 2 columns]

In [31]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data3 = data[data.genres.str.contains('Action')] # Создаем список только Action фильмов
action_director = data3.director.str.cat(sep='|').split('|')
pd.Series(action_director).value_counts()

Robert Rodriguez                    9
Paul W.S. Anderson                  7
Michael Bay                         7
Ridley Scott                        6
Antoine Fuqua                       6
                                   ..
Rupert Wyatt                        1
Dennis Dugan                        1
Florian Henckel von Donnersmarck    1
Spike Lee                           1
Bibo Bergeron                       1
Length: 364, dtype: int64

In [34]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
# Уникальный список актеров
actors = list(set(data.cast.str.cat(sep='|').split('|')))
act = []  # Список, где будет хранится сумма сборов
two_data = pd.DataFrame({'actors': actors})

for i in two_data.actors:

    act.append(data[(data.cast.str.contains(i))
                    & (data.release_year == 2012)].revenue.sum())  # Добавляем в список сумму сборов с определенным актером

two_data = pd.DataFrame({'actors': actors, 'revenue': act})
two_data.sort_values('revenue', ascending=False).head(5)

                  actors     revenue
2227     Chris Hemsworth  2027450773
1282         Denis Leary  1629460639
759        Anne Hathaway  1522851057
1346   Robert Downey Jr.  1519557910
1772  Scarlett Johansson  1519557910

In [40]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(
    sep='|').split('|')).value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Julie Ann Emery       1
Jeffrey Garcia        1
Rachel Bilson         1
Kimberly Elise        1
Dougray Scott         1
Length: 1505, dtype: int64

In [42]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
pd.Series(data[data.cast.str.contains('Nicolas Cage')
               ].genres.str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

In [44]:
answers['17'] = '3. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
data[data.production_companies.str.contains('Paramount Pictures')].profit.min() # Вывод -64831034
data[data.profit == -64831034]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [46]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [48]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data[data.production_companies.str.contains('Warner Bros')].groupby(
    'release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [50]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
data['release_date'].apply(lambda x: datetime.strptime(
    x, '%m/%d/%Y').month).value_counts()  # Сентябрь - 9 месяц

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [54]:
answers['21'] = '4. сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
len(data[data.release_date.str.match('[6-8]')])

450

In [56]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
data1 = data[(~data.release_date.str.match('10')) & (
    ~data.release_date.str.match('11')) & (~data.release_date.str.match('[3-9]'))] # Фильмы, которые вышли зимой
pd.Series(data1.director.str.cat(sep='|').split('|')).value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Nancy Meyers         4
                    ..
Guy Ritchie          1
Ron Clements         1
Ericson Core         1
Jake Kasdan          1
Rajkumar Hirani      1
Length: 358, dtype: int64

In [58]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
# Уникальный список всех студий
studios = list(set(data.production_companies.str.cat(sep='|').split('|')))
fdata = pd.DataFrame({'studios': studios})
zs = []  # Список для ср. значений названий

for i in fdata.studios:
    zs.append(data[data.production_companies.str.contains(i)
                   ].original_title.apply(len).mean())  # Добавляем в список ср. значения определенной компании

fdata = pd.DataFrame({'studios': studios, 'len': zs})
fdata.sort_values('len', ascending=False).head(5)

D:\Anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                        studios   len
282     Four By Two Productions  83.0
1562    Jim Henson Company, The  59.0
239               Dos Corazones  47.0
628                Polsky Films  46.0
1675  Museum Canada Productions  46.0

In [60]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
# Из задания 24 у нас есть переменные, которые используются здесь
sz = [] # Список ср. значений описания
for i in fdata.studios:
    sz.append(data[data.production_companies.str.contains(i)
                   ].overview.apply(len).mean()) # Добавляем в список ср. значения определенной компании

fdata = pd.DataFrame({'studios': studios, 'len': zs, 'lenover': sz})
fdata.sort_values('lenover', ascending=False).head(5)

D:\Anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                               studios   len  lenover
1326             Midnight Picture Show  23.0   1000.0
1328              Room 9 Entertainment  21.0    964.0
3     Brookwell-McNamara Entertainment  11.0    936.0
1120   Lions Gate Family Entertainment  15.0    909.0
1372       Crest Animation Productions  15.0    909.0

In [62]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
data.sort_values('vote_average', ascending=False).original_title.head(12)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
Name: original_title, dtype: object

In [64]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [70]:
datafs = data[['cast']]
freq = pd.Series()

for index, row in datafs.iterrows():
    cast = row[0].split('|')
    pairs = ['|'.join(pair)
             for pair in combinations(cast, 2)]  # Создаем комбинации партнеров

    for pair in pairs:
        if pair in freq.index:
            freq[pair] += 1

        else:
            freq[pair] = 1

frequency.sort_values(ascending=False)[:5]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Daniel Radcliffe|Emma Watson        8
Daniel Radcliffe|Rupert Grint       8
Rupert Grint|Emma Watson            7
Johnny Depp|Helena Bonham Carter    6
Ben Stiller|Owen Wilson             6
dtype: int64

In [65]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '4. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '3. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [67]:
# и убедиться что ни чего не пропустил
len(answers)

27